body {
    font-family: roboto;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.links {
    font-size: 18px;
    color: #E5E7EB;
}

a  {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    display: flex;
    background: #1F2937;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 0 16px;
    gap: 32px;
}

.header-left {
    display: flex;
    margin-left: 180px;

}

.header-right {
    display: flex;
    margin-right: 180px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style-type: none;
}
